@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: none;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91% / 0.5;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.75rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: none;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

/* 添加 Authing 按钮样式 */
.authing-button {
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 6px 16px;
  color: #fff !important;
  font-size: 14px !important;
  border-radius: 4px;
  background: #215ae5;
  border: none;
  box-shadow: none;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;   
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 178'%3E%3Cfilter id='prefix__a'%3E%3CfeGaussianBlur stdDeviation='12'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' fill='%23889602'/%3E%3Cg filter='url(%23prefix__a)'%3E%3Cg fill-opacity='.5' transform='translate(.6 .6) scale(1.17188)'%3E%3Ccircle r='1' fill='%23ff00fa' transform='matrix(59.95118 68.67642 -118.3441 103.30865 50.5 79.7)'/%3E%3Ccircle r='1' fill='%23ffdf26' transform='matrix(71.77638 36.88805 -93.95302 182.8128 219.4 122)'/%3E%3Ccircle r='1' fill='%23f7007e' transform='matrix(32.92104 -47.7368 29.9643 20.66447 255 72.5)'/%3E%3Ccircle r='1' fill='%23ff0eff' transform='matrix(-19.04388 11.50453 -88.27386 -146.12305 74.1 89)'/%3E%3Ccircle r='1' fill='%23f9c000' transform='matrix(-27.54465 14.95552 -26.43498 -48.68718 0 76.8)'/%3E%3Ccircle r='1' fill='%23ff0' transform='matrix(20.08264 10.32107 -97.88872 190.47085 179 98)'/%3E%3Cellipse cx='99' cy='4' fill='%23f95e1b' rx='29' ry='98'/%3E%3Ccircle r='1' fill='%23fd19fb' transform='matrix(4.1232 25.4574 -64.58516 10.46051 66 139.3)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    filter: saturate(90%) brightness(102%) opacity(95%);
  }
}
